.dragon-details {
    width: 250px;
    height: 100%;
    border: solid 1px #013A20;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
}

.dragon-details h2 {
    word-wrap: break-word;
}

.first-row-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.details-id {
    font-size: 9px;
}

.details-createdDate {
    font-size: 11px;
    font-weight: bold;
}


.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #013A20;
}

.actions span:hover {
    color: white
}

input {
    margin: 0 10px;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
}