.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin: 2px 10px !important;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #013A20;
    border-radius: 25px;
}

.login input {
    background: #282c34;
    color: #fff;
    text-align: center;
}

.login button {
    background: #013A20;
    color: #fff;
    cursor: pointer;
}

.login button:hover {
    background: #fff;
    color: #013A20;
}

.logo {
    color: #013A20;
}

.sign-buttons { 
    display: flex;
    flex-direction: column;
   
}

.error-message {
    color: #ff0000;
    font-weight: bold;
}
