.dragon-list {
  display: flex;
  flex-direction: column;
}

.actions-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.actions-list svg {
  color: #013A20;
}

.actions-list:hover {
  color: #013A20;
}

.actions-list span {
  font-size: 21px;
  padding-left: 8px;
  margin-bottom: -10px;
}

.dragon {
  display: flex;
  flex-grow: 1;
}

.dragon svg {
  color: #013A20;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  flex-grow: 2;
}

span {
  cursor: pointer;

}

li:hover {
  color: #bdbdbd;
  cursor: pointer;
}